<div class="d-flex">
  <!-- Sidebar -->
   <app-sidebar> </app-sidebar>
  <!-- End Sidebar -->

  <div class="container">
    <div class="row" p-3>

      <!-- Buscar gift-->
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>
    <hr />

    <!-- Resultado de la busqueda de gift-->
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam
        aliquid, nihil libero odio delectus illum maiores totam fugit vero
        veritatis. Tenetur blanditiis rem nostrum dicta laborum cumque ipsa
        architecto?
      </div>
    </div>
  </div>
</div>
